name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup git user/email
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: public
          path: _site

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.283.0

      # Runs a single command using the runners shell
      - name: Run Jekyll build and deploy
        run: |
          COMMIT=`git rev-parse --short HEAD`
          bundle install
          bundle exec jekyll build
          cd _site
          touch .nojekyll
          git add -A
          git commit -m "Generated site at $COMMIT"
          git push origin public
