name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.288.0

      - name: Run Jekyll build
        run: |
          bundle install
          bundle exec jekyll build
